<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>serving static file</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="card">
      <h2>welcome to Demo API</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
        asperiores ipsa quidem repudiandae reprehenderit non sunt delectus
        maxime voluptatem porro iste sapiente incidunt, temporibus possimus ab
        dicta consequuntur adipisci reiciendis ex voluptatum inventore eos.
        Ducimus iste ipsum doloribus, itaque praesentium eos incidunt dolor
        fugiat nulla. Sint quam unde ratione alias!
      </p>
    </div>
  </body>
</html>
